<style>
  table {
    border: 3px solid black;
    border-collapse: collapse;
  }
  tr {
    padding: 0;
  }
  td {
    width: 64px;
    height: 64px;
    padding: 0;
    border: 1px solid gray;
    text-align: center;
    vertical-align: center;
    font-size: 1.5em;
  }
  tr.box-bottom td {
    border-bottom: 3px solid black;
  }
  
  td.box-side {
    border-right: 3px solid black;
  }
</style>
<form method="post" action="/">
  <table>
    <tbody>
      <tr>
        <td>
          <input type="text" size="1" name="1,1" />
        </td>
        <td>
          <input type="text" size="1" name="1,2" />
        </td>
        <td class="box-side">
          <input type="text" size="1" name="1,3" />
        </td>
        <td>
          <input type="text" size="1" name="1,4" />
        </td>
        <td>
          <input type="text" size="1" name="1,5" />
        </td>
        <td class="box-side">
          <input type="text" size="1" name="1,6" />
        </td>
        <td>
          <input type="text" size="1" name="1,7" />
        </td>

        <td>
          <input type="text" size="1" name="1,8" />
        </td>

        <td>
          <input type="text" size="1" name="1,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="2,1" />
        </td>

        <td>
          <input type="text" size="1" name="2,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="2,3" />
        </td>

        <td>
          <input type="text" size="1" name="2,4" />
        </td>

        <td>
          <input type="text" size="1" name="2,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="2,6" />
        </td>

        <td>
          <input type="text" size="1" name="2,7" />
        </td>

        <td>
          <input type="text" size="1" name="2,8" />
        </td>

        <td>
          <input type="text" size="1" name="2,9" />
        </td>
      </tr>

      <tr class="box-bottom">
        <td>
          <input type="text" size="1" name="3,1" />
        </td>

        <td>
          <input type="text" size="1" name="3,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="3,3" />
        </td>

        <td>
          <input type="text" size="1" name="3,4" />
        </td>

        <td>
          <input type="text" size="1" name="3,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="3,6" />
        </td>

        <td>
          <input type="text" size="1" name="3,7" />
        </td>

        <td>
          <input type="text" size="1" name="3,8" />
        </td>

        <td>
          <input type="text" size="1" name="3,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="4,1" />
        </td>

        <td>
          <input type="text" size="1" name="4,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="4,3" />
        </td>

        <td>
          <input type="text" size="1" name="4,4" />
        </td>

        <td>
          <input type="text" size="1" name="4,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="4,6" />
        </td>

        <td>
          <input type="text" size="1" name="4,7" />
        </td>

        <td>
          <input type="text" size="1" name="4,8" />
        </td>

        <td>
          <input type="text" size="1" name="4,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="5,1" />
        </td>

        <td>
          <input type="text" size="1" name="5,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="5,3" />
        </td>

        <td>
          <input type="text" size="1" name="5,4" />
        </td>

        <td>
          <input type="text" size="1" name="5,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="5,6" />
        </td>

        <td>
          <input type="text" size="1" name="5,7" />
        </td>

        <td>
          <input type="text" size="1" name="5,8" />
        </td>

        <td>
          <input type="text" size="1" name="5,9" />
        </td>
      </tr>

      <tr class="box-bottom">
        <td>
          <input type="text" size="1" name="6,1" />
        </td>

        <td>
          <input type="text" size="1" name="6,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="6,3" />
        </td>

        <td>
          <input type="text" size="1" name="6,4" />
        </td>

        <td>
          <input type="text" size="1" name="6,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="6,6" />
        </td>

        <td>
          <input type="text" size="1" name="6,7" />
        </td>

        <td>
          <input type="text" size="1" name="6,8" />
        </td>

        <td>
          <input type="text" size="1" name="6,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="7,1" />
        </td>

        <td>
          <input type="text" size="1" name="7,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="7,3" />
        </td>

        <td>
          <input type="text" size="1" name="7,4" />
        </td>

        <td>
          <input type="text" size="1" name="7,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="7,6" />
        </td>

        <td>
          <input type="text" size="1" name="7,7" />
        </td>

        <td>
          <input type="text" size="1" name="7,8" />
        </td>

        <td>
          <input type="text" size="1" name="7,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="8,1" />
        </td>

        <td>
          <input type="text" size="1" name="8,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="8,3" />
        </td>

        <td>
          <input type="text" size="1" name="8,4" />
        </td>

        <td>
          <input type="text" size="1" name="8,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="8,6" />
        </td>

        <td>
          <input type="text" size="1" name="8,7" />
        </td>

        <td>
          <input type="text" size="1" name="8,8" />
        </td>

        <td>
          <input type="text" size="1" name="8,9" />
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" size="1" name="9,1" />
        </td>

        <td>
          <input type="text" size="1" name="9,2" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="9,3" />
        </td>

        <td>
          <input type="text" size="1" name="9,4" />
        </td>

        <td>
          <input type="text" size="1" name="9,5" />
        </td>

        <td class="box-side">
          <input type="text" size="1" name="9,6" />
        </td>

        <td>
          <input type="text" size="1" name="9,7" />
        </td>

        <td>
          <input type="text" size="1" name="9,8" />
        </td>

        <td>
          <input type="text" size="1" name="9,9" />
        </td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Solve" />
</form>

<!-- Display an error message if no solution is found -->
{% if error %}
  <p>{{ error }}</p>
{% endif %}

<!-- Print the intermediate boards at each step in the solving process -->
{% if steps %}
  <h2>Board States:</h2>
  <p>
    <span>(</span>Scroll to the bottom of the page for the final solution<span>)</span>
  </p>
  {% for i in range((steps|length) - 1) %}
    {% set grid = steps[i] %}
    <table>
      <!-- Print each as a 9x9 -->
      {% for row in grid %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br /> <!-- Add a line break between each board -->
  {% endfor %}
{% endif %}

<!-- Print the final solution following each step -->
{% if final_solution %}
  <div id="final-solution">
    <h2>Final Solution:</h2>
    <table style="border: 3px solid black; border-collapse: collapse; width: 600px;">
      <!-- Render the final solution as a 9x9 grid -->
      {% for row in final_solution %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}
